<h1 class="admin-show-title">管理者ページ</h1>

<div class="admin-show-dam-new-link">
  <%= link_to 'ダム新規登録', new_dam_path, class:"" %>
</div>

<div class="admin-show-dam-index-link">
  <%= link_to 'ダム一覧・検索', dams_path, class:"" %>
</div>

<div class="admin-show-admin-edit-link">
  <%= link_to 'ユーザー管理', users_path, class:"" %>
</div>

<div class="admin-show-distribute-link">
  <%= link_to 'Distribute管理', distributes_path, class:"" %>
</div>