<div class="slider">スライダー</div>

<div class="dam-top-box">
  <div  class="dam-top-map">
    <h3>地図をクリックして，全国のダムを見てみよう</h3>
    <div class="map"></div>
  </div>
  <div class="dam-top-search-box">
    <div class="dam-top-search">
      <h3>ダムを検索する</h3>
      <div class="dam-top-search-form">
        検索フォーム
      </div>
    </div>
  </div>
</div>
