<div id="anchor">
　<a href="#to-map">
    <li class="anchor-text"> ダムを見に行く</li>
    <%= image_tag("arrow.jpeg", class:"arrow") %>
  </a>
</div>

<div id="container">
  <div id="theTarget">
    <div class="dam-image1"></div>
    <div class="dam-image2"></div>
    <div class="dam-image3"></div>
    <div class="dam-image4"></div>
    <div class="dam-image5"></div>
  </div>
</div>

<div class="kurobe-box">
  <div class="kurobe-box-title">世界に誇る、日本の技術力</div>
  <div class="kurobe-image-box">
    <div class="kurobe-image"></div>
  </div>
  <div class="kurobe-text-box">
    <div class="kurobe-text-main">
      できるとか出来ないとか、結果は一切考えなかった。<br>
      <span class="kurobe-text-main-2">『ただ、やる。</span>
      <span class="kurobe-text-main-3">ダムを作る。』</span><br>
      <span class="kurobe-text-main-4">考えたのはそれだけです。</span><br>
      <span class="kurobe-text-main-5">まあ無我ですね。あとは真っ白です。突撃です。</span><br>
    </div>
    <li class="kurobe-text-sub">
      プロジェクトＸ～挑戦者たち～『黒四ダム　～断崖絶壁の難工事～』<br>
      （NHKオンデマンド，2000）
    </li>
  </div>
</div>

<div  class="dam-top-map">
  <a id="to-map"></a>
  <p class="dam-top-map-title">▼ 地図をクリックして，全国のダムを見てみよう</p>
  <div class="map"></div>
</div>
