<%= render 'cards/alert' %>
<%= render 'layouts/header' %>
<div id="anchor">
　<a href="#to-map">
    <li class="anchor-text"> ダムを見に行く</li>
    <%= image_tag("/images/arrow.jpeg", class:"arrow") %>
  </a>
</div>

<div id="container">
  <div id="theTarget">
    <div class="dam-image1"></div>
    <div class="dam-image2"></div>
    <div class="dam-image3"></div>
    <div class="dam-image4"></div>
    <div class="dam-image5"></div>
  </div>
</div>

<div class="kurobe-box">
  <div class="kurobe-box-title">世界に誇る、日本の技術力</div>
  <div class="kurobe-image-box">
    <div class="kurobe-image"></div>
  </div>
  <div class="kurobe-text-box">
    <div class="kurobe-text-main">
      できるとか出来ないとか、結果は一切考えなかった。<br>
      <div class="kurobe-text-main-2">『ただ、やる。
      <span class="kurobe-text-main-3">ダムを作る。』</span></div>
      <div class="kurobe-text-main-4">考えたのはそれだけです。</div>
      <div class="kurobe-text-main-5">まあ無我ですね。あとは真っ白です。</div>
      <div class="kurobe-text-main-6">" 突撃です "</div>
    </div>
    <li class="kurobe-text-sub">
      プロジェクトＸ～挑戦者たち～『黒四ダム　～断崖絶壁の難工事～』<br>
      （NHKオンデマンド，2000）
    </li>
  </div>
</div>


<p class="dam-top-map-title map-title-map-none" id="to-map">▼ 地図をクリックして，全国のダムを見てみよう！</p>

<p class="dam-top-map-title none w990-none map-title-region-none" id="to-map">▼ 地方名をクリックして，全国のダムを見てみよう！</p>

<div class="map none"></div>
<div class="map-w990 w990-none"></div>
<div class="map-w599 w599-none"></div>

<div  class="dam-top-map">
  <div class="dam-top-map-back-text1">徳山ダム</div>
  <div class="dam-top-map-back-text2">豊稔池ダム</div>
  <div class="dam-top-map-back-text3">白水ダム</div>
  <div class="dam-top-map-back-text4">宮ヶ</div>
  <div class="dam-top-map-back-text5">豊平峡ダム</div>
</div>


