<div class="about-background">

<div class="about-body">

  <!-- ナビバー -->
  <nav class="about-navbar" id="top">
    <div class="about-inner">
      <%=link_to 'トップへ戻る', dams_top_path, class:"about-nav-link-self" %>
    </div>
  </nav>
  <!-- ナビバー -->

  <!-- body -->
  <div class="container about-container">
    <div class="about-content">
      <h3 class="about-sub-title">突然ですが，1つだけ質問です．</h3>
      <h1 class="about-text-h1">「ダムカード」って知っていますか？</h1>
      <h4 class="about-text-h5">知らない方は，まずは<a href="#to-about-scroll">こちら</a>から</h4>
      <p>（既に知っている方は，下のボタンから「サイトの使い方」をご覧ください）</p>

      <div class="about-button-box">
        <a class="about-button" id="load-more-content" href="#top">サイトの使い方</a>
        <p class="about-button-text">※ サイトの使い方がスクロールで表示されます．</p>
      </div>


      <!-- スクロールバー -->
      <div id="more-content">
        <p>サイトの使い方</p>
        <div class="about-scroll-box">
        Creating a goal-driven statement of what a product or application does results in better product experiences.
        It meets expectations because it is focused on solving the problem it was created to address.
        There is power in doing one thing and it doing it very well.
        </div>

        <div class="about-scroll-box">
        Creating a goal-driven statement of what a product or application does results in better product experiences.
        It meets expectations because it is focused on solving the problem it was created to address.
        There is power in doing one thing and it doing it very well.
        </div>

        <div class="about-scroll-box">
        Creating a goal-driven statement of what a product or application does results in better product experiences.
        It meets expectations because it is focused on solving the problem it was created to address.
        There is power in doing one thing and it doing it very well.
        </div>
      </div>
      <a id="to-about-scroll"></a>
      <div class="about-welcome">

        <p>ようこそ，ダムの世界へ！<p>

        <p>今，日本には，3000を超える数のダムが存在します．</p>

        <p>意外と多くてびっくりしませんか？</p>

        <p>そのうちのいくつかの大きなダムでは，「ダムカード」というものを配布しています．</p>

        <p>それは，基本的に1人1枚，現地でしか手に入れることができません．</p>

        <p>ダムカードを手に入れることは，そのダムを訪れた証となり，自分のコレクションの1つになります．</p>

        <p>このサイトの目的は，そんなダムカードをコレクションすると共に，あなたが未だ訪れたことのない</p>
        <p>美しいダムを探す，手助けをすることです．</p>


        <p>自然の中に忽然と現れる，そのなんとも雄大で凛とした姿に，きっと魅了されるはずです．</p>


        <p>さあ，全国のダムを訪れて，ダムカードをGETしよう！</p>
      </div>
    </div>
  </div>
  <!-- body -->

  <!-- footer -->
  <%= render 'layouts/footer' %>
  <!-- footer -->

</body>
</div>
