<% flash.each do |message_type, message| %>
  <% if flash[:success] %>
    <div class="alert alert-success">
      <%= message %>
    </div>
  <% else %>
    <div class="alert alert-danger">
      <%= message %>
    </div>
  <% end %>
<% end %>