<%= render 'layouts/header' %>
<h2 class="inquiry-index-title">送信完了</h2>

<div class="inquiry-thanks">
  <p class="inquiry-thanks-text-1">
    お問い合わせ内容を承りました
  </p>

  <p class="inquiry-thanks-text-2">
    引き続き，ダム王をよろしくお願い致します
  </p>
</div>

