
/* about */

  /* 背景 */
.about-background {
  background-image: image-url('about.jpeg');

  /* 画像の位置は常に中央 */
  background-position: center center;

  /* 画像を繰り返さない */
  background-repeat: no-repeat;

  /* コンテンツのheightが画像より高くなっても固定 */
  background-attachment: fixed;

  /* This is what makes the background image rescale based on its container's size */
  background-size: cover;

  /* Pick a solid background color that will be displayed while the background image is loading */
  background-color:#464646;

  /* SHORTHAND CSS NOTATION
   * background: url(background-photo.jpg) center center cover no-repeat fixed;
   */
}

  /* For mobile devices */
@media only screen and (max-width: 767px) {
  .about-body {
    /* The file size of this background image is 93% smaller
     * to improve page load speed on mobile internet connections */
    background-image: image-url('about.jpg');
  }
  }



  /*nav*/

.about-navbar {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  height: 60px;
  z-index: 3;
  position: fixed;
}

  .about-inner {
    margin: 10px auto;
    text-align: center;
  }

  .about-nav-link-self {
    color: #000;
    background-color: #FFF;
    border-radius: 3px;
  }

  .about-nav-link-self:hover {
    color: #FFF;
    background-color: #000;
    border-radius: 3px;
    text-decoration: none;
  }

.about-navbar a {
  display: inline-block;
  border: 1px solid #fff;
  font-size: 14px;
  line-height: 24px;
  padding: 2px 15px;
  text-decoration: none;
  margin-top: 5px;
}


  /* body */

.about-body, .about-container {
  height: 100%;
}

.about-body, .about-text-h1 {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
}

.about-body {
  font-family: "Hiragino Mincho Pro", sans-serif;
  color: #ffffff;
}

.about-container {
  display: table;
  padding-top: 100px;
  width: 100%;
}

.about-content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding-top: 70px;

  h1 {
    position: relative;
    display: inline-block;
    color: #efecec;
    text-transform: uppercase;
    line-height: 120px;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;
    z-index: 2;
  }

  h1:before {
    content: "";
    position: absolute;
    background: rgba(180, 240, 255, 0.3);
    width: 650px;
    height: 20px;
    border-radius: 10px;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  h3 {
    margin: 50px auto;
    line-height: 23px;
  }

  h4 {
    padding-top: 30px;
    span {
      font-size: 22px;
      font-weight: 600;
      background: linear-gradient(transparent 80%, red 50%);
    }
  }
}

.about-text-h4 a {
  color: #A9F5F2;
  text-decoration: underline;
}

.about-text-h4 a:hover {
  color: #F4FA58;
}



.about-button-box {
  padding: 130px 0 50px 0;
}

.about-button {
  display: inline-block;
  width: 150px;
  height: 50px;
  padding: 13px 10px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}

.about-button:hover {
  text-decoration: none;
  color: #fff;
}

.about-button-under {
  padding-top: 10px;
  font-size: 12px;
}


.about-welcome-content {
  background-color: rgba(0, 0, 0, 0.2);
  margin: 450px 0 100px 0 ;
  border-radius: 20px;
  padding: 40px;
}

.about-damcard-image {
}

.about-damcard-image-self {
  width: 200px;
  border-radius: 8px;
  transform: rotate(-90deg);
}

.about-welcome-title{
  font-size: 40px;
  padding-bottom: 20px;
  margin-bottom: 50px;
  line-height: 120px;
  border-bottom: 4px double #BDBDBD;
}

.about-welcome-text p {
  font-size: 18px;
  color: #E6E6E6;
  span {
    color: #F4FA58;
  }
}

.about-welcome-text-line-1 {
  padding-top: 30px;
}

.about-welcome-text-line-2 {
  padding-top: 60px;
  line-height: 50px;
}

.about-welcome-text-line-5,
.about-welcome-text-line-7,
.about-welcome-text-line-10,
.about-welcome-text-line-11 {
  padding-top: 30px;
}

.about-welcome-text-line-13,
.about-welcome-text-line-15 {
  padding-top: 50px;
  line-height: 30px;
}

.about-welcome-text-line-14,
.about-welcome-text-line-16,
.about-welcome-text-line-17 {
  line-height: 30px;
}

.about-welcome-text-line-18 {
  padding: 60px 0 30px 0;
}

.to-about-top {
  color: #fff;
  font-size: 40px;
  text-align: right;
}
.to-about-top-self {
  color: #E6E6E6;
}



/* スクロールテキスト */

.about-scroll-title {
  font-size: 20px;
}


.about-scroll-box {
  display: block;
  max-width: 600px;
  margin: 15px auto;
  padding: 15px;
  background-color: rgba(210, 240, 255, 0.5);
  color: #000;
  font-family: "Kotta One", serif;
  font-size: 15px;
  line-height: 28px;
  p {
    line-height: 25px;
  }
}

.about-scroll-box-title {
  font-size: 18px;
  font-weight: 600;
  padding: 30px 0;
}

.about-scroll-box-text1 a {
  text-decoration: underline;
}

.scroll-image-1 {
  margin: 40px 0;
}

.scroll-image-1-self {
  width: 400px;
  box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.3);
}

.about-scroll-box-text2 span {
  text-decoration: underline;
}

.scroll-image-2 {
  margin: 40px 0;
  position: relative;
}

.scroll-image-2-self {
  width: 400px;
  box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.3);
}

.scroll-image-2-figure {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 30px;
  border: 2px solid yellow;
}

#more-content {
  display: none;
  margin: 0 auto;
}

.welcome-text-title {
  font-size: 40px;
}





/* Media Queries */
@media only screen and (max-width: 340px) {

  .about-container {
    position: relative;
    display: block;
    float: left;
    vertical-align: baseline;
    margin: 0 auto;
    padding: 80px 0 0 0;
  }

  #more-content {
    float: left;
    margin-right: 10px;
  }

  .about-body .about-text-h1 {
    font-size: 18px;
    line-height: 23px;
  }

  .about-content, .about-scroll-box {
    display: inline;
    margin: 0 auto;
    padding-top: 80px;
    vertical-align: baseline;
  }

  .about-scroll-box {
    width: 150px;
    margin: 15px auto;
    font-size: 16px;
    line-height: 21px;
    background-color: transparent;
  }

  .about-sub-title {
    font-size: 14px;
    line-height: 21px;
  }

  .about-button, p {
    max-width: 150px;
    margin: 0 auto;
    font-size: 15px;
    line-height: 20px;
  }

  .about-body, .about-container {
    height: auto;
  }
}