// Place all the styles related to the admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




/* session */

.title-link:hover {
  text-decoration: none;
}

.admin-signed-in-yes {
  list-style: none;
  text-align: center;
  padding: 20px 0;
  background-color:  rgba(0,255,60,0.3);
}

.admin-signed-in-no {
  list-style: none;
  text-align: center;
  padding: 20px 0;
  background-color:  rgba(255,100,100,0.3);
}

.admin-session {
  width: 200px;
  text-align: center;
  margin: 100px auto;
}

.admin-session-field {
  margin-top: 20px;
}

.admin-session-remember {
  margin-top: 30px;
}

.admin-session-submit {
  margin-top: 30px;
}

.admin-session-submit-self {
  width: 100px;
}


/* show */