/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.clearfix::after{
  content: "";
  display: inline-block;
  clear: both;
}


* {
    -webkit-transition-property: all;
    -webkit-transition-duration: .2s;
  -moz-transition-timing-function: cubic-bezier(100,50,21,6);
    -moz-transition-property: all;
  -moz-transition-timing-function: cubic-bezier(100,50,21,6);
}


body{
  background: #E6E6E6;     /* #1b1b2b; */
  padding-bottom:50px 0;
}

/* header */

.damour-logo {
  padding-top: 40px;
  text-align: center;
}

.damour-title{
  display: inline-block;
  margin: 20px 0 -10px 0;
}

.logo-image-self {
  width: 60px;
}

.damour-sub-title{
  color: #000;    /* #c0c0c0; */
  font-size: 25px;
  font-weight: 500;
  font-style: italic;
  text-align:center;
  font-family: cursive, fantasy, sans-serif;
}

.nav-menu{
  text-align:center;
  padding: 30px 0;
  font-family: 'Oswald', sans-serif;
}

.menu-btn {
  color:#FFF;
  background:#000;
  padding:10px 20px;
  font-size:12px;
  text-decoration:none;
  letter-spacing:2px;
  text-transform:uppercase;
}

.menu-btn-home{
  color:#000;
  background:#FFBF00;
  padding:10px 30px;
  font-size:12px;
  text-decoration:none;
  letter-spacing:2px;
  text-transform:uppercase;
}

.menu-btn:hover, .menu-btn-home:hover{
  border:none;
  text-decoration:none;
  color: #000;
  background: #FFF;
  background:#fff;
  padding:20px 20px;
  color:#1b1b1b;
}

.menu-btn-home:hover{
  border:none;
  text-decoration:none;
  color: #000;
  background: #FFF;
  background:#fff;
  padding:20px 30px;
  color:#1b1b1b;
}


/* cardコレクションボタン */

.my-parts {
  display: inline-block;
  position: fixed;
  float: right;
  right: 0px;
  text-decoration: none;
  background: #FFBF00;
  color: gray;
  width: 150px;
  font-size: 18px;
  height: 150px;
  border-radius: 0 0 0 100%;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  box-shadow: inset 0px 3px 0 rgba(255,255,255,0.3), 0 3px 3px rgba(0, 0, 0, 0.3);
  font-weight: bold;
  border-bottom: solid 3px #B18904;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.65);
  transition: .4s;
  padding: 40px 0 0 20px;
  z-index: 9999;
}

.my-parts:hover {
  text-decoration: none;
}

.my-parts:active {
  -webkit-transform: translateY(1px);
  transform: translateY(1px);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.35);
  border-bottom: none;
}



  /* session */

.modal-signin {
  margin: 200px auto;
  height: 500px;
}

.modal-content-signin {
  width: 350px;
  height: 400px;
  margin: 0 auto;
}

.modal-header {
  background: #000;
  border-radius: 5px 5px 0 0;
}

.close {
  color: #fff;
}

.modal-header-title {
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  font-family: cursive, fantasy, sans-serif;
}

.modal-body-field-email-signin {
  margin: -10px 0 20px 0;
}

.modal-body-field-password-signin {
  margin: 10px 0;
}

.modal-body-label-signin {
  list-style: none;
  text-align: left;
  margin-left: 50px;
}

.modal-body-field-signin {
  margin-top: -10px;
}

.modal-body-field-self-signin {
  width: 70%;
  height: 40px;
  margin-top: 10px;
  border-radius: 5px;
}

.modal-body-remember-signin {
  text-align: left;
  margin: 20px 0 0 30px;
}

.modal-body-submit-signin {
  width: 80%;
  margin: 10px 0;
}




  /* registration */


.modal-signup {
  margin: 50px auto;
  height: 800px;
}

.modal-content-signup {
  width: 500px;
  height: 700px;
  margin: 0 auto;
}

.modal-header {
  background: #000;
  border-radius: 5px 5px 0 0;
  margin-bottom: 10px;
}

.close {
  color: #fff;
}

.modal-header-title {
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  font-family: cursive, fantasy, sans-serif;
}

.modal-body {
  position: relative;
  text-align: center;
}

.modal-body-image-signup {
  position: absolute;
  top: -12px;
  left: 5px;
}

.swing1 {
  width: 60px;
  height: 60px;
}

.modal-body-field-signup {
  margin: 10px 0 20px 0;
}

.modal-body-attachment-field-signup {
  width: 300px;
  margin: 0 auto;
}

.modal-body-attachment-field-self-signup {
}

.modal-body-field-password-signup {
  margin: 10px 0;
}

.modal-body-label-signup {
  list-style: none;
  text-align: left;
  margin-left: 100px;
}

.modal-body-field-signup {
  margin-top: -10px;
}

.modal-body-field-self-signup {
  width: 60%;
  height: 30px;
  margin-top: 10px;
  border-radius: 5px;
}

.modal-body-remember-signup {
  text-align: left;
  margin: 20px 0 0 30px;
}

.modal-body-submit-signup {
  width: 80%;
  margin: 10px 0;
}


/* re-registration*/


.modal-body-field-self-re-signup {
  width: 60%;
  height: 30px;
  margin-top: 10px;
  border-radius: 5px;
}





/* footer */

.footer{
  position: fixed;
  right: 30px;
  bottom: 0;
  color: #fff;
}
