// Place all the styles related to the Cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



/* edit */

.modal-content {
  margin-top: 150px;
}

.edit-card-box {
  position: relative;
  text-align: left;
  margin: 40px 40px;
}

.edit-card-form-eraser {
  position: absolute;
  top: -30px;
  right: -15px;
}

.new-card-form-eraser-image {
  width: 70px;
  height: 70px;
}



/* show */

.card-show-background {
  background-image: url('/images/coffee.jpeg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color:#464646;
  padding-bottom: 180px;
}


.card-show-alert-message {
  width: 600px;
  margin: 30px auto;
}

.card-show-back-link {
  text-align: center;
  margin-top: 30px;
}

.c-show-background {
  width: 500px;
  height: 600px;
  margin: 0 auto;
  background-color: #FBF8EF;
  box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.4);
}

.c-show {
  width: 400px;
  margin: 50px auto;
  padding-top: 50px;
}

.c-show-image-box {
  width: 400px;
  height: 300px;
  margin: 0 auto;
}

.c-show-image {
  width: 400px;
  height: 300px;
}

.c-show-table {
  width: 400px;
  height: 300px;
  margin: 30px auto;
}