// Place all the styles related to the Cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* show */


.tabnav{
    margin: 0;
    padding: 0;
}
.tabnav li{
    display: inline;
}
.tabnav li a{
    display: inline-block;
    background: #000; /*default  #405dca*/
    color: #fff;
    padding: 15px 10px;
    border-radius: 5px 5px 0 0;
    text-decoration: none;
    text-align: center;
    width: 7%;
}

.tabnav li a:hover,
.tabnav li a.active{
    background: #FFF;
    color: #333;
}

/* 北海道用 */

#h a{
    display: inline;
}
#h a{
    display: inline-block;
    background: #000; /*default  #405dca*/
    color: #fff;
    padding: 15px 10px;
    border-radius: 5px 5px 0 0;
    text-decoration: none;
    text-align: center;
    width: 9.04%;
}

#h a:hover,
#h a.active{
    background: #FFF;
    color: #333;
}

/* 北海道用　ここまで */

/* 北陸・甲信越用 */

#hk a{
    display: inline;
}
#hk a{
    display: inline-block;
    background: #000; /*default  #405dca*/
    color: #fff;
    padding: 15px 10px;
    border-radius: 5px 5px 0 0;
    text-decoration: none;
    text-align: center;
    width: 15.17%;
}

#hk a:hover,
#hk a.active{
    background: #FFF;
    color: #333;
}

/* 北陸・甲信越用　ここまで */

/* カード情報編集用 */

#ed a{
    display: inline;
}
#ed a{
    display: inline-block;
    background: gray; /*default  #405dca*/
    color: #FFF;
    padding: 20px 10px 15px 10px;
    border-radius: 5px 5px 0 0;
    text-decoration: none;
    text-align: center;
    width: 17%;
}

#ed a:hover,
#ed a.active{
    background: #ECF6CE;
    color: #333;
}

/* カード情報編集用　ここまで */

.tabcontent{
    padding: 20px;
    background-color: #FFF;
}

.dam-card-sample-image {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}

.new-card-form {
    position: relative;
    margin-top: -50px;
}

.new-card-form-main {
    position: fixed;
    padding: 20px;
    margin-bottom: 100px;
    background-color: #FFF;
}

.new-card-form-pencil {
    width: 30px;
    position: absolute;
    top: -31px;
    right: 75px;
}

.new-card-form-pencil-image {
    width: 80px;
}

.new-card-form-item {
    margin-top: 10px;
}

.new-card-form-title {
    width: 180px;
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #000;
    margin-bottom: 20px;
}

.new-card-form-image {
    margin-top: 20px;
}

.new-card-form-submit {
    margin-top: 20px;
}
