// Place all the styles related to the Dams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* dams#top */

#map {
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

/* new */

.dam-new-form {
  width: 50%;
  margin: 0 auto;
}

.dam-new-form-half {
  float: left;
  width: 50%;
}

.dams-new-table {
  width: 80%;
  th {
    width: 30%;
    text-align: center;
  }
  td {
    width: 70%;
  }
}

.dams-new-form-submit {
  width: 80%;
  margin: 0 auto;
}

.dams-new-form-submit-in {
  width: 80%;
  font-size: 20px;
}

/* show */

.dam-show-image-box {
  position: relative;
  margin: 0 auto;
  width: 800px;
}

  /* ダム写真 */

.dam-show-image {
  width: 800px;
  height: 450px;
}

.square_btn {
  position: absolute;
  display: inline-block;
  font-weight: bold;
  padding: 2.0em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #04B431;
  transition: .4s;
  width: 160px;
  text-align: center;
  right: 30px;
  bottom: -40px;
}

.square_btn:hover{
  text-decoration: none;
}

.square_btn>span{
  font-size: 25px;
  border-bottom: solid 2px #FFF;
  border-top: solid 2px #FFF;
}

.square_btn:hover span {
  color: #FFF;
  padding: 0.3em 0;
}


.dam-show-information {
  width: 800px;
  margin: 0 auto;
  padding-top: 50px;
}

.dam-show-information-content {
  width: 600px;
}

.dam-show-map-box {
  width: 800px;
  margin: 0 auto;
}

.dam-show-map {
  width: 800px;
  height: 400px;
}

