// Place all the styles related to the Dams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* dams#top */

  /* anchor scroll ボタン */

#anchor {
  width: 20%;
  margin: 30px auto;
  text-align: center;
}

#anchor a, #anchor a:hover {
  text-decoration: none;
}

.anchor-text{
  list-style: none;
  color: #000;
  font-weight: bold;
}

.anchor-text {
  color: #000;
}

.arrow {
  width: 30px;
  padding-top: 15px;
  animation: key1 .4s ease infinite alternate;
}

@keyframes key1{
  0% {transform: translateY(0px);}
  100% {transform: translateY(-10px);}
}


  /* スライダー */

#container{
  height: 500px;
  margin: 0 auto;
  z-index: 1;
  background-color: #000;
}

.skippr {
  background-position: none;
}

.dam-image1 {
background-image: url(dam_image1-1.jpeg);
background-position: 50% 62.5%;
}
.dam-image2 {
background-image: url(dam_image2-1.jpeg);
background-position: 40% 20%;
}
.dam-image3 {
background-image: url(dam_image3.jpeg);
background-position:50% 62.5%;
}
.dam-image4 {
background-image: url(dam_image4.jpeg);
background-position: 35% 50%;
}
.dam-image5 {
background-image: url(dam_image5.jpeg);
background-position:50% 62.5%;
}


  /* 黒部ダムレコメンド */

.kurobe-box {
  width: 100%;
  height: 450px;
  background-color: #000;
  padding-top: 30px;
}

.kurobe-box-title {
  line-height: 40px;
  width: 700px;
  font-size: 30px;
  font-weight: bold;
  position: relative;
  padding: 0.1em 0.5em;
  padding-left: 30px;
  background: -webkit-linear-gradient(to right, rgb(255, 255, 255), transparent);
  background: linear-gradient(to right, rgb(255, 255, 255), transparent);
  color: #0B3B24;
  font-family: "HiraMinPro-W6", "Hiragino Mincho Pro", serif, sans-serif;
}

.kurobe-image-box{
  float: left;
  width: 50%;
  padding-top: 40px;
}

.kurobe-image {
  width: 427px;
  height: 285px;
  margin: 0 auto;
  background-size: cover;
  background-image: image-url("kurobedam.jpeg");
}

.kurobe-text-box {
  float: left;
  width: 50%;
  padding-top: 40px;
  color: #6E6E6E;
}

.kurobe-text-main {
  font-size: 20px;
  line-height: 40px;
  padding-bottom: 50px;
  font-style: italic;
  font-family: "HiraMinPro-W6", "Hiragino Mincho Pro", serif, sans-serif;
}

.kurobe-text-main-2 {
  padding-left: 70px;
  line-height: 70px;
  color: #A4A4A4;
}

.kurobe-text-main-3 {
  font-size: 25px;
  color: #A4A4A4;
}

.kurobe-text-main-4 {
  padding-left: 50px;
  line-height: 40px;
}

.kurobe-text-main-5 {
  padding-left: 120px;
  line-height: 40px;
}


.kurobe-text-sub {
  list-style: none;
  text-align: right;
  font-size: 12px;
  line-height: 20px;
  padding: 5px 100px 50px 0;
  border-top: solid 0.5px #848484;
  color: #848484;
}

.dam-top-map-title {
  font-size: 25px;
  text-align: center;
  padding: 30px 0;
}

.dam-top-map {
  position: relative;
}



.dam-top-map-back-text1,
.dam-top-map-back-text2,
.dam-top-map-back-text3,
.dam-top-map-back-text4 {
  position: absolute;
  list-style: none;
  font-family: "HiraMinPro-W6", "Hiragino Mincho Pro", serif, sans-serif;
  color: #EFEFEF;
}

.dam-top-map-back-text1 {
  top: -750px;
  left: -30px;
  font-size: 150px;
}

.dam-top-map-back-text2 {
  right: 30px;
  top: -120px;
  font-size: 120px;
}

.dam-top-map-back-text3 {
  top: -350px;
  left: 200px;
  font-size: 70px;
}

.dam-top-map-back-text4 {
  top: -550px;
  right: -550px;
  font-size: 180px;
}

.map {
    width: 900px;
    margin: 50px auto;
    /* -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25); */
    /* box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25); */
    z-index: 20;
}






/* new */

.dam-new-form {
  width: 50%;
  margin: 0 auto;
}

.dam-new-form-half {
  float: left;
  width: 50%;
}

.dams-new-table {
  width: 80%;
  th {
    width: 30%;
    text-align: center;
  }
  td {
    width: 70%;
  }
}

.dams-new-form-submit {
  width: 80%;
  margin: 0 auto;
}

.dams-new-form-submit-in {
  width: 80%;
  font-size: 20px;
}



/* show */


.dam-show-background {
  position: relative;
  background-color: #FFF;
  width: 1030px;
  margin: 50px auto;
  padding: 20px 0px 80px 0px;
  border-right: 40px solid #000;
  box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.8);
}

.dam-show-black-line {
}

.dam-show-clip {
  position: absolute;
  left: 40px;
  top: -13px;
  z-index: 5;
}

.dam-show-memo {
  position: absolute;
  left: 20px;
  top: -15px;
  size: 150%;
  transform: rotate(-5deg);
  z-index: 2;
}

.dam-show-pr-name-memo {
  position: absolute;
  left: 65px;
  top: 30px;
  font-size: 40px;
  color: #0B3B24;
  transform: rotate(-15deg);
  font-family: serif, "Hiragino Mincho Pro", serif, sans-serif;
  z-index: 3;
}

.dam-show-dam-name {
  list-style: none;
  font-size: 60px;
  font-weight: 600px;
  text-align: center;
  font-family: "HiraMinPro-W6", "Hiragino Mincho Pro", serif, sans-serif;
}

.dam-show-dam-name-kana {
  list-style: none;
  color: #A4A4A4;
  font-size: 20px;
  font-weight: 600px;
  text-align: center;
  font-family: "HiraMinPro-W6", "Hiragino Mincho Pro", serif, sans-serif;
}

  /* ダム写真 */

.dam-show-image-box {
  position: relative;
  margin: 0 auto;
  width: 800px;
}

.dam-show-image {
  width: 800px;
  height: 450px;
  margin-top: 30px;
  display: inline-block;
  box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.8);
}

.square_btn {
  position: absolute;
  display: inline-block;
  font-weight: bold;
  padding: 2.0em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #04B404;
  transition: .4s;
  width: 160px;
  text-align: center;
  right: 30px;
  bottom: -40px;
  box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.7);
}

.square_btn:hover{
  text-decoration: none;
}

.square_btn>span{
  font-size: 25px;
  border-bottom: solid 2px #FFF;
  border-top: solid 2px #FFF;
}

.square_btn:hover span {
  color: #FFF;
  padding: 0.3em 0;
}

.dam-show-information {
  width: 800px;
  margin: 0 auto;
  margin: 50px auto;
}

.dam-show-information-content {
  width: 600px;
  padding: 20px 20px 5px;
  background-color: #F2F2F2;
  border: 0.3px solid #D8D8D8;
  .table {
    background-color: #FFF;
    border: 0.3px solid #D8D8D8;
  }
}

.dam-show-map-box {
  width: 800px;
  margin: 0 auto;
}

.dam-show-map {
  width: 800px;
  height: 400px;
}

.comment {
  width: 1030px;
  margin: 50px auto;
  padding: 30px 0;
  border-right: 40px solid #000;
  background-color: #FBF8EF;
  box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.7);
}

.comment-title {
  list-style: none;
  font-size: 30px;
  text-align: center;
  font-family: "Hiragino Kaku Gothic Std", sans-serif;
}

.comment-form {
  width: 800px;
  margin: 50px auto;
}

.comment-form-bottom {
  position: relative;
  width: 800px;
  display: inline-block;
}

.comment-form-max-text-count {
  position: absolute;
  right: 0px;
}

.comment-form-title {
  width: 400px;
  float: left;
}

.comment-form-image {
  width: 400px;
  padding-left: 30px;
  float: left;
}

.comment-form-bottom {
  width: 800px;
}

.comment-submit {
  text-align: center;
  margin-top: 20px;
}

.comment-submit-button {
  width: 200px;
  padding: 0px 0px;
}


.comment-count-box {
  font-size: 20px;
  padding-top: 30px;
  text-align: center;
  text-decoration: underline;
}

.comment-item-box {
  width: 900px;
  margin: 50px auto;
}

.comment-item {
  position: relative;
  width: 900px;
  padding: 10px;
  margin-bottom: 15px;
  display: inline-block;
  border-bottom: 5px solid #E6E6E6;
}

.comment-item-title {
  font-weight: 800;
  font-size: 16px;
  text-align: center;
}

.comment-item-visit-date {
  position: absolute;
  right: 20px;
  top: 30px;
}

.comment-item-profile-image {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.comment-item-profile-image-self {
  border-radius: 50px;
}

.comment-item-hundle-name {
  font-size: 12px;
  padding-left: 10px;
}

.comment-item-delete {
  position: absolute;
  right: 0;
  top: 130px;
}


.comment-item-image {
  float: left;
  margin: 15px 30px 10px 20px;
}



.comment-item-text {
  float: left;
  width: 500px;
  font-size: 13px;
  margin-top: 30px;
}

.comment-more-link {
  text-align: center;
  margin-top: 30px;
}