// Place all the styles related to the Dams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* dams#top */

  /* anchor scroll ボタン */

#anchor {
  width: 20%;
  margin: 30px auto;
  text-align: center;
}

#anchor a, #anchor a:hover {
  text-decoration: none;
}

.anchor-text{
  list-style: none;
  color: #000;
  font-weight: bold;
}

.anchor-text {
  color: #000;
}

.arrow {
  width: 30px;
  padding-top: 15px;
  animation: key1 .4s ease infinite alternate;
}

@keyframes key1{
  0% {transform: translateY(0px);}
  100% {transform: translateY(-10px);}
}


  /* スライダー */

#container{
  height: 500px;
  margin: 0 auto;
  z-index: 1;
  background-color: #000;
}

.skippr {
  background-position: none;
}

.dam-image1 {
background-image: url(dam_image1-1.jpeg);
background-position: 50% 62.5%;
}
.dam-image2 {
background-image: url(dam_image2-1.jpeg);
background-position: 40% 20%;
}
.dam-image3 {
background-image: url(dam_image3.jpeg);
background-position:50% 62.5%;
}
.dam-image4 {
background-image: url(dam_image4.jpeg);
background-position: 35% 50%;
}
.dam-image5 {
background-image: url(dam_image5.jpeg);
background-position:50% 62.5%;
}


  /* 黒部ダムレコメンド */

.kurobe-box {
  width: 100%;
  height: 450px;
  background-color: #000;
  padding-top: 30px;
}

.kurobe-box-title {
  line-height: 40px;
  width: 700px;
  font-size: 30px;
  font-weight: bold;
  position: relative;
  padding: 0.1em 0.5em;
  padding-left: 30px;
  background: -webkit-linear-gradient(to right, rgb(255, 255, 255), transparent);
  background: linear-gradient(to right, rgb(255, 255, 255), transparent);
  color: #0B3B24;
}

.kurobe-image-box{
  float: left;
  width: 50%;
  padding-top: 40px;
}

.kurobe-image {
  width: 427px;
  height: 285px;
  margin: 0 auto;
  background-size: cover;
  background-image: image-url("kurobedam.jpeg");
}

.kurobe-text-box {
  float: left;
  width: 50%;
  padding-top: 40px;
  color: #6E6E6E;
}

.kurobe-text-main {
  font-size: 20px;
  line-height: 40px;
  padding-bottom: 50px;
  font-style: italic;
}

.kurobe-text-main-2 {
  padding-left: 70px;
  line-height: 70px;
  color: #A4A4A4;
}

.kurobe-text-main-3 {
  font-size: 25px;
  color: #A4A4A4;
}

.kurobe-text-main-4 {
  padding-left: 50px;
  line-height: 40px;
}

.kurobe-text-main-5 {
  padding-left: 120px;
  line-height: 40px;
}


.kurobe-text-sub {
  list-style: none;
  text-align: right;
  font-size: 12px;
  line-height: 20px;
  padding: 5px 100px 50px 0;
  border-top: solid 0.5px #848484;
  color: #848484;
}

.dam-top-map {
  padding: 50px 0;
}

.dam-top-map-title {
  font-size: 25px;
  text-align: center;
}

.dam-top-search-box {
  background-color: pink;
}

.map {
    width: 900px;
    margin: 50px auto;
    /* -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25); */
    /* box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25); */
}

/* new */

.dam-new-form {
  width: 50%;
  margin: 0 auto;
}

.dam-new-form-half {
  float: left;
  width: 50%;
}

.dams-new-table {
  width: 80%;
  th {
    width: 30%;
    text-align: center;
  }
  td {
    width: 70%;
  }
}

.dams-new-form-submit {
  width: 80%;
  margin: 0 auto;
}

.dams-new-form-submit-in {
  width: 80%;
  font-size: 20px;
}

/* show */

.dam-show-image-box {
  position: relative;
  margin: 0 auto;
  width: 800px;
}

  /* ダム写真 */

.dam-show-image {
  width: 800px;
  height: 450px;
  display: inline-block;
  box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.8);
}

.square_btn {
  position: absolute;
  display: inline-block;
  font-weight: bold;
  padding: 2.0em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #14AAB8;
  transition: .4s;
  width: 160px;
  text-align: center;
  right: 30px;
  bottom: -40px;
}

.square_btn:hover{
  text-decoration: none;
}

.square_btn>span{
  font-size: 25px;
  border-bottom: solid 2px #FFF;
  border-top: solid 2px #FFF;
}

.square_btn:hover span {
  color: #FFF;
  padding: 0.3em 0;
}

.dam-show-head {
    width: 1100px;
    margin: 50px auto;
    font-weight:bold;
    position: relative;
    padding: 10px;
    background: #b8b8b8;
}
.dam-show-head:before{
    content: " ";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 0;
    border-color: transparent;
    border-right-color: #a6a6a6;
}
.dam-show-head:after{
    content: " ";
    position: absolute;
    top: 100%;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 0;
    border-color: transparent;
    border-top-color: #a6a6a6;
}



.dam-show-information {
  width: 800px;
  margin: 0 auto;
  margin: 50px auto;
}

.dam-show-information-content {
  width: 600px;
  padding: 20px 20px 5px;
  background-color: #FFF;
  border: 0.3px solid #D8D8D8;
  .table {
    border: 0.3px solid #D8D8D8;
  }
}


.dam-show-map-box {
  width: 800px;
  margin: 0 auto;
}

.dam-show-map {
  width: 800px;
  height: 400px;
}

