// Place all the styles related to the distributes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.distribute-index-body {
  width: 70%;
  padding-left: 30px;
  float: left;
}

.distribute-index-title {
  text-align: center;
}

.distribute-index-search-form {
  text-align: center;
  margin: 50px 0;
}

.distribute-index-search-form-self{
  width: 400px;
  height: 30px;
}

.distribute-index-form {
  width: 25%;
  margin-top: 70px;
  margin-left: 20px;
  padding: 0 20px 20px;
  background-color: #fff;
  box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.4);
  float: left;
}

.distribute-index-form-title {
  text-align: center;
}

.distribute-index-field {
  margin-top: 20px;
}

.distribute-submit {
  margin-top: 30px;
  width: 100%;
}