// Place all the styles related to the facilities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* index */

.facility-index-body {
  width: 75%;
  float: left;
}

.facility-index-form {
  width: 25%;
  padding-left: 20px;
  float: left;
}