// Place all the styles related to the facilities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* index */

.facility-index {
}

.facility-index-body {
  margin-left: 20px;
  width: 72%;
  float: left;
}

.facility-index-table {
}

.facility-index-form {
  right: 0;
  width: 22%;
  float: left;
  background-color: #fff;
  margin-left: 30px;
  padding: 20px 0;
  box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.4);
}

.facility-index-title {
  text-align: center;
}

.facility-index-form-main {
  width: 250px;
  margin: 0 auto;
}

.facility-index-form-field {
  margin: 10px 0 0 40px;
}

.facility-index-example-text {
  font-size: 12px;
}

.facility-index-submit {
  text-align: center;
  margin-top: 15px;
}

.facility-index-submit-self {
  width: 50%;
}



/* show */

.facility-show-name {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  font-family: "HiraMinPro-W6", "Hiragino Mincho Pro", serif, sans-serif;
  margin-top: 30px;
}



.facility-show-table {
  width: 600px;
  margin: 30px auto;
  background-color: #fff;
}

.map-pin-self {
  width: 50px;
  height: 50px;
}

.facility-show-map-pin {
  margin-top: 50px;
  text-align: center;
}

.facility-show-map-title {
  list-style: none;
  text-align: center;
  color: rgb(197, 162, 71);
  font-size: 20px;
  font-family: "HiraMinPro-W6", "Hiragino Mincho Pro", serif, sans-serif;
  margin: 10px 0 30px 0;
}

.facility-show-map {
  width: 800px;
  margin: 0 auto;
}

.facility-show-map-self {
  width: 800px;
  height: 400px;
  text-align: center;
}

