// Place all the styles related to the mnquiry controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* index */

.inquiry-index-title {
  text-align: center;
}

.inquiry-index {
  margin: 0 auto;
}

.inquiry-index-box {
  width: 50%;
  margin: 20px auto;
}

.inquiry-index-form-message-self {
  width: 100%;
  height: 250px;
  border-radius: 5px;
}

.inquiry-index-form-submit {
  margin: 20px;
  text-align: center;
}

.inquiry-index-form-submit-self {
  width: 30%;
}






/* confirm */

.inquiry-confirm-title {
  text-align: center;
}

.inquiry-confirm {
  margin: 0 auto;
}

.inquiry-confirm-box {
  width: 60%;
  margin: 20px auto;
}

.inquiry-confirm-main {
  border-radius: 5px;
  background: #fff;
  padding: 30px;
}

.inquiry-confirm-form-message-self {
  border-radius: 5px;
}

.inquiry-confirm-form-submit {
  margin: 20px 0;
  text-align: center;
}

.inquiry-confirm-form-submit-self {
  width: 30%;
}




/*thanks*/

.inquiry-thanks {
  width: 50%;
  padding: 30px;
  margin: 80px auto;
  background-color: #fff;
  border-radius: 5px;
}

.inquiry-thanks-text-1 {
  text-align: center;
}

.inquiry-thanks-text-2 {
  text-align: center;
  padding-top: 20px;
}
