// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* index */

.user-index-title {
  margin-top: 30px;
  text-align: center;
}

.user-index-search-form {
  text-align: center;
  margin: 50px 0;
}

.user-index-search-form-self{
  width: 400px;
  height: 30px;
}

.user-index-paginate{
  text-align: center;
}

.user-index-table {
  width: 80%;
  margin: 0 auto;
}

.user-index-btn-delete-self {
  margin: 15px 0;
}


/* show */

.user-show-title {
    list-style: none;
    font-size: 30px;
    padding-top: 30px;
    text-align: center;
}

.user-show-background {
    position: relative;
    background: #fff;
    width: 440px;
    margin: 30px auto;
    padding: 20px;
}

.user-show-setting {
    position: absolute;
    top: 20px;
    right: 20px;
}

.fa-cogs {
    color: gray;
    font-size: 20px;
}

.user-show-image {
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
}

.user-show-image-self {
    border-radius: 100%;
}

.user-show-table {
    margin: 0 auto;
    width: 400px;
}




/* edit */

.user-show-back {
    margin: 0 auto;
    text-align: center;
    padding-top: 100px;
}

.user-edit-image {
    margin: 30px 0;
    text-align: center;
}

.user-edit-attachment-image-field {
    width: 220px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.user-edit-label {
}

.user-edit-field {
    text-align: center;
}

.user-edit-submit {
    text-align: center;
}

.user-edit-submit-self {
    width: 200px;
    margin: 0 auto;
}













/* cardlist */

.cardlist-background {
    position: absolute;
    position: fixed;
    width: 1500px;
    height: 1500px;
    background-image: url("/images/coffee.jpeg");
    background-size: contain;
}

.cardlist-background-white {
  position: absolute;
  position: fixed;
  display: inline-block;
  width: 1500px;
  background-color: rgba(255,255,255,0.2);
}

.tabnav{
    margin: 0;
    padding: 0;
}
.tabnav li{
    display: inline;
}
.tabnav li a{
    display: inline-block;
    background: #000; /*default  #405dca*/
    color: #fff;
    padding: 15px 10px;
    border-radius: 5px 5px 0 0;
    text-decoration: none;
    text-align: center;
    width: 7%;
}

.tabnav li a:hover,
.tabnav li a.active{
    background: #FFF;
    color: #333;
}

/* 北海道用 */

#h a{
    display: inline;
}
#h a{
    display: inline-block;
    background: #000; /*default  #405dca*/
    color: #fff;
    padding: 15px 10px;
    border-radius: 5px 5px 0 0;
    text-decoration: none;
    text-align: center;
    width: 9.04%;
}

#h a:hover,
#h a.active{
    background: #FFF;
    color: #333;
}

/* 北海道用　ここまで */

/* 北陸・甲信越用 */

#hk a{
    display: inline;
}
#hk a{
    display: inline-block;
    background: #000; /*default  #405dca*/
    color: #fff;
    padding: 15px 10px;
    border-radius: 5px 5px 0 0;
    text-decoration: none;
    text-align: center;
    width: 15.17%;
}

#hk a:hover,
#hk a.active{
    background: #FFF;
    color: #333;
}

/* 北陸・甲信越用　ここまで */

/* カード情報編集用 */

#ed a{
    display: inline;
}
#ed a{
    display: inline-block;
    background: gray; /*default  #405dca*/
    color: #FFF;
    padding: 20px 10px 15px 10px;
    border-radius: 5px 5px 0 0;
    text-decoration: none;
    text-align: center;
    width: 17%;
}

#ed a:hover,
#ed a.active{
    background: #1168A2;
    color: #FFF;
}

/* カード情報編集用　ここまで */



.tabcontent{
    padding: 20px;
    background-color: #FFF;
    border-radius: 0 10px 10px 10px;
}



    /*タブ内 カード一覧*/

.cardlist-dam-item-box {
    display: inline-block;
}

.cardlist-dam-item {
    position: relative;
    float: left;
    padding: 20px 13px 25px 13px;
}

.cardlist-dam-item-name {
    text-align: center;
}

.cardlist-dam-item-name-y {
    width: 180px;
}

.cardlist-dam-item-image {
    display: inline-block;
    box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.4);
}

.cardlist-dam-item-ver {
    position: absolute;
    right: 13px;
}


.dam-card-sample-image {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}

.new-card-text-danger {
    margin-bottom: 10px;
}

.new-card-form {
    position: relative;
    margin-top: -50px;
}

.new-card-form-background {
    position: fixed;
    background-color: #000;
    padding: 5px;
    width: 24%;
    height: 530px;
}

.new-card-form-main {
    position: fixed;
    padding: 20px;
    margin: 10px;
    background-color: #FFF;
    width: 22%;
    height: 510px;
}

.new-card-form-pencil {
    width: 30px;
    position: absolute;
    top: -31px;
    left: 200px;
}

.new-card-form-pencil-image {
    width: 80px;
}

.new-card-form-item {
    margin-top: 10px;
}

.new-card-form-title {
    width: 180px;
    list-style: none;
    font-size: 20px;
    font-weight:bold;
    border-bottom: 1px solid #000;
    margin-bottom: 10px;
}

.new-card-form-image {
    margin-top: 10px;
}

.new-card-form-submit {
    margin-top: 15px;
}

.new-card-form-submit-button {
    width: 100%;
    padding: 10px 0;
    margin-bottom: 20px;
}

.new-card-form-delete {
    width: 100%;
    margin-top: 20px;
}


@media screen and (max-width:990px) {

    .cardlist-background {
        position: absolute;
        position: fixed;
        width: 1000px;
        height: 1000px;
        background-image: url("/images/coffee.jpeg");
        background-size: contain;
    }

    .tabnav{
        margin: 0;
        padding: 0;
    }
    .tabnav li{
        display: inline;
    }
    .tabnav li a{
        display: inline-block;
        background: #000; /*default  #405dca*/
        color: #fff;
        padding: 15px 10px;
        border-radius: 5px 5px 0 0;
        text-decoration: none;
        text-align: center;
        width: 7%;
    }

    .tabnav li a:hover,
    .tabnav li a.active{
        background: #FFF;
        color: #333;
    }

    /* 北海道用 */

    #h a{
        display: inline;
    }
    #h a{
        display: inline-block;
        background: #000; /*default  #405dca*/
        color: #fff;
        padding: 15px 10px;
        border-radius: 5px 5px 0 0;
        text-decoration: none;
        text-align: center;
        width: 9.04%;
    }

    #h a:hover,
    #h a.active{
        background: #FFF;
        color: #333;
    }

    /* 北海道用　ここまで */

    /* 北陸・甲信越用 */

    #hk a{
        display: inline;
    }
    #hk a{
        display: inline-block;
        background: #000; /*default  #405dca*/
        color: #fff;
        padding: 15px 10px;
        border-radius: 5px 5px 0 0;
        text-decoration: none;
        text-align: center;
        width: 15.17%;
    }

    #hk a:hover,
    #hk a.active{
        background: #FFF;
        color: #333;
    }

    /* 北陸・甲信越用　ここまで */

    /* カード情報編集用 */

    #ed a{
        display: inline;
    }
    #ed a{
        display: inline-block;
        background: gray; /*default  #405dca*/
        color: #FFF;
        padding: 20px 10px 15px 10px;
        border-radius: 5px 5px 0 0;
        text-decoration: none;
        text-align: center;
        width: 17%;
    }

    #ed a:hover,
    #ed a.active{
        background: #1168A2;
        color: #FFF;
    }

    /* カード情報編集用　ここまで */



    .tabcontent{
        padding: 20px;
        background-color: #FFF;
        border-radius: 0 10px 10px 10px;
    }



        /*タブ内 カード一覧*/

    .cardlist-dam-item-box {
        display: inline-block;
    }

    .cardlist-dam-item {
        position: relative;
    }

    .cardlist-dam-item-name {
        text-align: center;
    }

    .cardlist-dam-item-name-y {
    }

    .cardlist-dam-item-image {
        display: inline-block;
        box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.4);
    }

    .cardlist-dam-item-ver {
        position: absolute;
        right: 13px;
    }


    .dam-card-sample-image {
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        filter: grayscale(100%);
    }

    .new-card-form {
        position: relative;
        margin-top: -50px;
    }

    .new-card-form-background {
        position: fixed;
        background-color: #000;
        padding: 5px;
        width: 24%;
        height: 530px;
    }

    .new-card-form-main {
        position: fixed;
        padding: 20px;
        margin: 10px;
        background-color: #FFF;
        width: 22%;
        height: 500px;
    }

    .new-card-form-pencil {
        width: 30px;
        position: absolute;
        top: -31px;
        right: 88px;
    }

    .new-card-form-pencil-image {
        width: 80px;
    }

    .new-card-form-item {
        margin-top: 10px;
    }

    .new-card-form-title {
        list-style: none;
        font-size: 20px;
        font-weight: bold;
        border-bottom: 1px solid #000;
        margin-bottom: 20px;
    }

    .new-card-form-image {
        margin-top: 20px;
    }

    .new-card-form-submit {
        margin-top: 20px;
    }

    .new-card-form-submit-button {
        width: 100%;
        padding: 10px 0;
        margin-bottom: 20px;
    }

    .new-card-form-delete {
        width: 100%;
        margin-top: 20px;
    }
}


